 # ========================================
# DJANGO
# ========================================
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.mo
*.egg-info/
.env
*.env
.env.*

# ========================================
# ENVIRONMENTS
# ========================================
venv/
env/
.env/
.venv/
*.env

# ========================================
# DJANGO STATIC & MEDIA
# ========================================
/staticfiles/
/media/

# ========================================
# IDE / EDITOR CONFIGS
# ========================================
.vscode/
.idea/
*.swp

# ========================================
# DOCKER
# ========================================
/pgdata/
*.pid
*.sock

# ========================================
# MISC
# ========================================
.DS_Store
Thumbs.db
